{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}group-show{% endblock layout_class %}
{% block newsletter_content %}
    <h1>{{ 'group.group'|trans }} "{{ group.name }}"</h1>

    <hr />
    <a href="javascript:history.back()" class="btn">{{ 'ctrl.back'|trans }}</a>
{% endblock newsletter_content %}
