@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
    src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),
        url(../fonts/glyphicons-halflings-regular.woff) format('woff'),
        url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),
        url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    font-family: verdana;
    font-size: 9pt;
}

h1{
    margin-bottom: .5em;
    font-size: 2em;
}

h2{
    margin-bottom: .2em;
    font-size: 1.5em;
}

.container{
    margin-bottom: 1em;
}

.newsletter-overview iframe{
    width: 920px;
}

.clear{
    clear:both;
}

a.asc:after {
    font-family: "Glyphicons Halflings";
    content: " \e093";
}
a.desc:after {
    font-family: "Glyphicons Halflings";
    content: " \e094";
}